#!/bin/bash

# Function to load environment file
load_env_file() {
  local file=$1
  if [ -f "$file" ]; then
    set -a
    source "$file"
    set +a
  fi
}

# Load environment files
load_env_file "./.env"
load_env_file "./../.env.db"
load_env_file "./../.env.oauth"