@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	overflow-x: hidden;
	transition-property: background, opacity, transform, filter;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-syne), sans-serif;
	font-weight: 700;
}

@layer base {
	h1 {
		@apply text-2xl md:text-4xl;
	}

	h2 {
		@apply text-xl md:text-2xl;
	}

	h3 {
		@apply text-lg md:text-xl;
	}

	p {
		@apply text-sm md:text-base;
	}

	header {
		@apply text-xs md:text-sm;
	}

	a {
		@apply text-blue-500 hover:underline;
	}
}
