name: Build and Deploy Pipeline

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - main

defaults:
  run:
    working-directory: ./client

jobs:
  build:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'workflow_dispatch' || 
      (github.event.pull_request.merged == true && contains(github.event.pull_request.title, '[BUILD]'))
    steps:
      - uses: actions/checkout@v4

      - name: Execute remote SSH build commands
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: cd louisplace.com || exit 1 &&
            git pull origin main &&
            docker compose up --build -d app

  deploy:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'workflow_dispatch' || 
      (github.event.pull_request.merged == true && contains(github.event.pull_request.title, '[BUILD]'))
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Execute remote SSH deploy script
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: ./louisplace.com/client/deploy.sh
