name: Lint

on:
  workflow_call:
  pull_request:
    types: [ready_for_review]
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    working-directory: ./client

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
      - name: Install dependencies
        shell: bash
        run: pnpm install
      - name: Check step
        run: pnpm run lint_format:check
